
	@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');

	body {
		background: #fff;
		font-family: 'Poppins', sans-serif;
		/* font-family: 'roboto', sans-serif; */
		overflow-x: hidden;
	}

	/*---------------------------------------
		TYPOGRAPHY              
	-----------------------------------------*/

	h1,h2,h3,h4,h5,h6 {
		font-weight: 300;
		line-height: inherit;
		letter-spacing: -1px;
	}

	h1 {
		color: #292929;
		font-size: 3em;
		margin-bottom: 30px;
	}

	h2 {
		color: #393939;
		font-size: 2em;
	}

	h3 {
		color: #505050;
		font-size: 1.5em;
		font-weight: 500;
		margin-bottom: 0;
	}

	h4 {
		color: #696969;
		font-size: 18px;
		line-height: normal;
	}

	p {
		color: #757575;
		font-size: 14px;
		font-weight: normal;
		line-height: 25px;
	}

	strong {
		font-weight: 500;
	}

	.clear {
		margin: 0;
		padding: x;
		position: relative;
		top: 5px;
		bottom: 5px;
	}


	/*---------------------------------------
		GENERAL               
	-----------------------------------------*/

	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	*:before,
	*:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	a {
		color: #fff;

	}

	.ibuton {
		color: #000;
	}

	.ibuton:hover {
		color: #000;
	}
	

	a:hover, 
	a:active, 
	a:focus {
		color: #4c3f37;
		outline: none;
	}

	.section-title {
		margin-bottom: 30px;
	}

	.section-title h2 {
		margin-top: 0;
		margin-bottom: 10px;
		line-height: 0;
	}

	.section-title .line-bar {
		color: #4c3f37;
		display: inline-block;
		font-size: 5em;
		line-height: 0;
		margin: 0;
		padding: 0;
	}

	.section-btn {
		background: #4c3f37;
		border: 0;
		border-radius: 100px;
		color: #ffffff;
		cursor: pointer;
		font-size: inherit;
		font-weight: normal;
		padding: 15px 30px;
		-webkit-transition: 0.5s;
		transition: 0.5s;
	}

	.section-btn:hover,
	.section-btn:focus {
		background: #4c3f37;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #4c3f37, #4c3f37);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #4c3f37, #4c3f37); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		border-color: transparent;
		color: #4c3f37;
	}

	.overlay {
		background: #4c3f37;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #4c3f37, #4c3f37);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #4c3f37, #4c3f37); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		opacity: 0.7;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		left: 0;
	}

	.section {
		padding-top: 60px;
		padding-bottom: 10px;
		text-align: center;
		display: flex;
	}

	.section-finish {
		padding-top: 40px;
		padding-bottom: 80px;
		text-align: center;
		display: flex;
	}
	
	.section-main {
		padding: 130px 0 10px;
		margin: 0;
		text-align: center;
		border: inset rgba(0, 0, 0, 0.2);
	}

	/*---------------------------------------
		PRE LOADER              
	-----------------------------------------*/

	.preloader {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 99999;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		background: none repeat scroll 0 0 #ffffff;
	}

	.spinner {
		border: 1px solid transparent;
		border-radius: 3px;
		position: relative;
	}

	.spinner:before {
		content: '';
		box-sizing: border-box;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 45px;
		height: 45px;
		margin-top: -10px;
		margin-left: -10px;
		border-radius: 50%;
		border: 1px solid #575757;
		border-top-color: #ffffff;
		animation: spinner .9s linear infinite;
	}

	@-webkit-keyframes spinner {		/* Animation */
		to {transform: rotate(360deg);}   
	}

	@keyframes spinner {				/* Animation */
		to {transform: rotate(360deg);}
	}


	/*---------------------------------------
		MENU              
	-----------------------------------------*/

	.custom-navbar {
		border: none;
		margin-bottom: 0;
		padding: 25px 0;
	}

	.custom-navbar .navbar-brand {
		color: #fff;
		font-size: 25px;
		font-weight: 500;
		letter-spacing: -1px;
	}

	.top-nav-collapse {
		background: #fff;
		transition-duration: 0.5s
	}

	.custom-navbar .navbar-nav.navbar-nav-first {
		margin-left: 0;
	}

	.custom-navbar .navbar-nav.navbar-right li a {
		padding-right: 12px;
		padding-left: 12px;
	}

	.custom-navbar .section-btn {
		padding: 15px;
		margin-left: 2em;
	}

	.custom-navbar .section-btn:hover {
		background: #4c3f37;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #434343, #4c3f37);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #434343, #4c3f37); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}

	.custom-navbar .section-btn a {
		padding: 0;
	}

	.custom-navbar .nav .section-btn a:hover {
		color: #fff;
	}

	.custom-navbar .nav li a {
		font-size: 23px;
		font-weight: 500;
		color: #4c3f37;
		text-shadow:1px 1px rgba(0,0,0,.5);
		letter-spacing: -0.5px;
		padding-right: 22px;
		padding-left: 22px;
	}

	.custom-navbar .nav li a:hover {
		background: transparent;
		color: #4c3f37;
	}

	.custom-navbar .navbar-nav > li > a:hover,
	.custom-navbar .navbar-nav > li > a:focus {
		background-color: transparent;
	}

	.custom-navbar .nav li.active > a {
		background-color: transparent;
		color: #4c3f37;
	}

	.custom-navbar .navbar-toggle {
		border: none;
		padding-top: 10px;
	}

	.custom-navbar .navbar-toggle {
		background-color: transparent;
	}

	.custom-navbar .navbar-toggle .icon-bar {
		background: #4c3f37;
		border-color: transparent;
	}

	@media(min-width:768px) {
		.custom-navbar {
		border-bottom: 0;
		background: 0 0; 
		}

		.custom-navbar.top-nav-collapse {
		background: #fff;
		-webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
		box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
		padding: 12px 0;
		}

		.top-nav-collapse .navbar-brand {
		color: #4c3f37;
		}

		.top-nav-collapse .nav li a {
		color: #4c3f37;
		}

		.top-nav-collapse .nav .section-btn a {
		color: #fff;
		}
	}

	/*---------------------------------------
		HOME              
	-----------------------------------------*/

	.notice {
		background: url('../images/bg-noticias.jpg') no-repeat center center;
		background-size: cover;
		vertical-align: middle;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		min-height: 100vh;
		position: relative;
		overflow: hidden;
		padding-top: 5em;
		text-align: center;
		padding: 0;
	}

	.notice-principal {
		background: url('../images/noticia.jpg') no-repeat center center;
		vertical-align: middle;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		min-height: 100vh;
		position: relative;
		overflow: hidden;
		padding-top: 5em;
		text-align: center;
		padding: 0;
	}

	.notice h1 {
		color: #ffffff;
		text-shadow: 1px 1px #000;
		position: fixed;
		top: 15%;
		right: 40%;
	}

	.notice h2 {
		color: #fff;
		text-shadow: 1px 1px #000;
		position: fixed;
		top: 29%;
		left: 23%;
		padding: 0;
		margin: 0;
	}

	#home,
	#proyect {
		background: url('../images/home-bg.jpg') no-repeat center center;
		background-size: cover;
		vertical-align: middle;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		min-height: 100vh;
		position: relative;
		overflow: hidden;
		padding-top: 10em;
		text-align: left;
	}

	#proyect-title {
		background-color: #f0f0f0;
		padding-bottom: 10px;
		padding-top: 20px;
		margin: 50px;
	}

	#home h1 {
		color: #fff;
		text-shadow:1px 2px rgba(0,0,0,.5);
	}

	.home-info .section-btn {
		background: transparent;
		border: 2px solid #f9f9f9;
		color: #f9f9f9;
	}

	.home-info .section-btn:hover,
	.home-info .section-btn:focus {
		background: #4c3f37;
		border-color: transparent;
		color: #fff;
	}

	.home-info span {
		display: inline-block;
		vertical-align: middle;
		color: #f9f9f9;
		font-weight: 500;
		margin-left: 20px; 
	}

	.home-info span small {
		display: block;
	}

	/* ---------------------------------------
		página
	---------------------------------------- */

	#proyect {
		background: url('../images/Libros/book-bg.jpg') no-repeat center center;
		background-size: cover;
		vertical-align: middle;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		min-height: 100vh;
		position: relative;
		overflow: hidden;
		padding-top: 10em;
		text-align: left;
	}


	#publicaciones {
		background: url('../images/publicaciones.jpg') no-repeat center center;
		background-size: cover;
		vertical-align: middle;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		min-height: 100vh;
		position: relative;
		overflow: hidden;
		padding-top: 10em;
		text-align: left;
	}



	#home h1 {
		color: #fff;
		text-shadow:1px 2px rgba(0,0,0,.5);
	}

	.home-info .section-btn {
		background: transparent;
		border: 2px solid #f9f9f9;
		color: #f9f9f9;
	}

	.home-info .section-btn:hover,
	.home-info .section-btn:focus {
		background: #4c3f37;
		border-color: #fff;
		color: #fff;
	}

	.home-info span {
		display: inline-block;
		vertical-align: middle;
		color: #f9f9f9;
		font-weight: 500;
		margin-left: 20px; 
	}

	.home-info span small {
		display: block;
	}

	

	/*---------------------------------------
		ABOUT PROYECT   
	-----------------------------------------*/

	#about {
		text-align: center;
		padding-bottom: 0;
	}

	#about .about-info:first-child {
		margin-right: 40px;
	}

	.about-info .section-title {
		margin: 100px 0 40px 0;
	}

	.about-info {
		margin-top: 0px;
		position: fixed;
		top: 20%;
		left: 3%;

	}
	.center {
		text-align: center;
		padding-bottom: 0;
	}

	.about-notice {
		margin: 0;
		position: fixed;
		top: 30%;
		left: 150px;
	}

	.skill-thumb strong {
		display: inline-block;
		margin-bottom: 10px;
	}

	.skill-thumb .progress {
		background: #ffffff;
		border-radius: 5px;
		box-shadow: none;
		height: 3px;
		margin-bottom: 25px;
	}

	.skill-thumb .progress-bar {
		background: #1f1f1f;
		box-shadow: none;
	}



	/*---------------------------------------
		Nosotros
	-----------------------------------------*/

	.work {
		color: #000;
		display: flex;	
		margin: 0;
		padding: 0 0 5px 0;
	}


	.work .work-thumb {
		overflow: hidden;
		position: inherit;
		cursor: pointer;
		border-radius: 10px;
		margin-bottom: 20px;
	}

	.work-thumb .work-info {
		overflow: hidden;
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
	}


	.work-thumb .work-info:after {
		position: absolute;
		margin: 0;
		content: "";
		background: #4c3f37;
		opacity: 0;
		transition: 0.1s;
	}

	.work-thumb .work-info:hover::after {
		opacity: 0.9;
	}

	.work-thumb .work-info h3,
	.work-thumb .work-info small {
		transform: translateY(100%);
		opacity: 0;
		display: block;
		transition: 0.6s 0.2s;
		color: #fff;
		z-index: 2;
		position: relative;
		top: 70px;
	}

	.work-thumb .work-info small {
		color: #d9d9d9;
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 1px;
		margin-top: 3px;
	}

	.work-thumb:hover .work-info h3,
	.work-thumb:hover .work-info small {
		transform: translateY(4px);
		opacity: 1;
		color: #fff;
		text-shadow: 0.1px 0.1px #000;
		background-color: rgba(0, 0, 0, 0.3);
		top: 30px;
	}


	/* MODAL */

	.modal-content {
		overflow: hidden;
		width: 900px;
		height: auto;
		display: flex;
		margin: 20px 30px;
		position: fixed;
		top: 40px;
		left: -200px;
		justify-content: center;
	}

/* 
	.btn-primary  {
		position: fixed;
		top: 60px;
		font-size: 18px;
		border-radius:  10%;
		border-color: #4c3f37;
		color: #fff;
	} */

	/* .btn-primary:hover {
		background-color: #4c3f37;
		
	} */

	.btn-modal {
		position: absolute;
		
		font-size: 18px;
		border-radius:  10px;
		border-color: #4c3f37;
		color: #fff;
		background-color: #4c3f37;
		background-color: rgba(0, 0, 0, 0.6);
		padding: 10px 25px;	
		border-color: #fff;
		top: 210px;
	}

	.btn-modal:hover {
		background-color: #4c3f37;
	}

	
	.modal-body {
		background-color: #fff;
		border-radius: 1%;
		align-items: center;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		width: 100%;
	}

	.modal-body h1 {
		font-size: 30px;
	}

	.modal-box {
		background: #fff;
		-webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.2);
		box-shadow: 0 25px 100px rgba(0, 0, 0, 0.3);
		border-radius: 10px;
		text-align: center;
		margin-bottom: 90px;
		height: auto;
		width: auto;
		padding: 50px;
		margin: 20px;
	}

	.carousel-box {
		background: #fff;
		-webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.2);
		box-shadow: 0 25px 100px rgba(0, 0, 0, 0.3);
		border-radius: 10px;
		text-align: center;
		margin-bottom: 30px;
		height: auto;
		width: auto;
		padding: 0px;
		margin: px;
	}

	.notice-container {
		background: #fff;
		-webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.2);
		box-shadow: 0 25px 100px rgba(0, 0, 0, 0.3);
		border-radius: 10px;
		text-align: center;
		margin-bottom: 0;
		height: auto;
		width: auto;
		padding: 0px;
		margin: 0px;
		display: flex;
		flex-direction: row;
		padding-top: 0;
	}

	.principal {
		background-color: transparent;
		border: solid;
		border-radius: 6px;
		text-align: center;
		height: auto;
		width: auto;
		padding: 0;
		margin: 0;
	}

	.notice-container div {
		background-color: #fff;
		padding: 10px;
	}

	.notice-complete {
		width: 300px;
		height: 200px;
	}

	.line {
		/* background-color: rgba(0, 0, 0, 0.2); */
		display: flex;
		justify-content: center;
		font-size: 50px;
		line-height: 40px;
	}

	/* Arreglar alineacion de faico */
	.description {
		font-size: 20px;
		background-color: #E5E5E5;
		color: #000;
		margin: 40px;
		padding: 40px;
		position: relative;
		align-content: center;
		flex-direction: column;
	}

	.modal-dialog {
		height: auto;
	}



	/*---------------------------------------
		SOCIAL ICON              
	-----------------------------------------*/
		

	.faico	{
		overflow: hidden;
		display: block;
		position: relative;
		justify-content: center;
		width: 100%;
		background-color: rgba(75, 77, 37, 0.378);
		border: ridge;
		margin: 0;
		padding: 0;
	}

	.faico li {
		display: inline-block;
		margin: 8px 8px 8px;
		padding: 0;
		line-height: normal;
	}
	
	.faico a:hover {
		background: rgba(0, 0, 0, 0.6);
	}


	.faico a {
		display:inline-block; 
		width:36px; 
		height:36px; 
		line-height:36px; 
		font-size:25px; 
		text-align:center;
		color: #000;
		background-color: #4C3F37;
	}





	/*---------------------------------------
		BLOG             
	-----------------------------------------*/

	#blog {
		background: #f0f0f0;
	}

	#blog-header,
	#blog-detail {
		text-align: left;
	}

	#blog-header {
		background: url('../images/blog-header-bg.jpg') no-repeat center center;
		background-size: cover;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		height: 65vh;
		color: #ffffff;
		position: relative;
		padding-top: 12em;
	}

	#blog-header h2 {
		color: #fff;
	}

	.blog-thumb {
		background: #fff;
		-webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
		box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
		text-align: left;
		margin-bottom: 30px;
		height: 239px;
		width: auto;
		height: auto;

	}

	.notice-box {
		background: #fff;
		-webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.2);
		box-shadow: 0 25px 30px rgba(0, 0, 0, 0.3);
		border-radius: 10px;
		text-align: center;
		margin-bottom: 30px;
		height: auto;
		width: auto;
		padding: 50px;
		margin: 13px;
	}

	.notice-box img {
		position: relative;
		background-color: #000;
		margin: 10px;
		padding: 1px;
		display: inline;
	}

	.box {
		background-color: #f9f9f9;
		-webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.2);
		box-shadow: 0 25px 30px rgba(0, 0, 0, 0.5);
		border-radius: 20px;
		padding: 8px 20px ;
		margin: 15px auto;
		position: relative;
		display: flex;
		justify-content: center;
		
	}

	.box-container {
		background-color: #f9f9f9;
		position: relative;
		display: flex;
		justify-content: center;
	}

	.media.blog-thumb .media-left {
		width: 45%;
	}

	.blog-thumb small {
		color: #D24544;
		font-weight: 500;
		display: block;
	}

	.blog-thumb small .fa {
		margin-right: 5px;
	}

	.blog-thumb h4 {
		margin-top: 2px;
		margin-bottom: 0px;
	}

	#blog-detail h2 {
		padding: 25px 0 10px 0;
	}

	.blog-info {
		padding: 34px 25px;
		width: 100%;
		height: 100%;
	}

	.blog-info h3 {
		margin: 0;
		padding: 8px 0 6px 0;
		text-transform: capitalize;
	}

	.blog-info .section-btn {
		background:transparent;
		color: #000;
		border: dashed #4c3f37;
		margin-top: 20px;
	}

	.blog-info .section-btn:hover {
		background: #00F260;  /* fallback for old browsers */
		background: #4c3f37;  /* Chrome 10-25, Safari 5.1-6 */
		background: #4c3f37; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		color: #fff;
	}

	.blog-thumb ul {
		margin: 32px 12px 22px 0px;
	}

	.blog-thumb ul li {
		list-style: square;
		font-weight: normal;
		padding: 4px 12px 4px 0px;
	}

	.blog-social-share {
		text-align: center;
		padding-top: 22px;
	}

	.blog-social-share .btn {
		border-radius: 100px;
		border: none;
		font-size: 10px;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		margin: 20px 6px;
		padding: 10px 16px;
	}

	.blog-social-share .btn-primary {
		background: #3b5998;
	}

	.blog-social-share .btn-success {
		background: #1da1f2;
	}

	.blog-social-share .btn-danger {
		background: #dd4b39;
	}

	.blog-social-share a .fa {
		padding-right: 4px;
	}

	.blog-ads {
		background: #f9f9f9;
		border-right: 4px solid #2b2b2b;
		padding: 42px;
		text-align: center;
		margin: 26px 0 26px 0;
	}

	.blog-ads h4 {
		font-size: 18px;
	}


	/*---------------------------------------
		PUblicaciones           
	-----------------------------------------*/


	#publication {
		background: #f0f0f0;
		border-radius: 1% 1%;
		margin: 30px;
		padding: 20px;
	}

	#publicTitle {
		background: #fff;
		margin: 0px;
		padding-top: 85px;
		padding-bottom: 5px;
	}


	/*---------------------------------------
		CONTACTS             
	-----------------------------------------*/

	.contact {
		background-size: cover;
		display: grid;
	}

	.contact {
		background-image:url("images/contact.png") no-repeat center center;
	}

	.contact .section-title h2 {
		color: #fff;
	}

	.contact p {
		color: #fff;
		font-size: 20px;
		text-align: center;
		position: static;
		top: 63px;
		left: -40px;
	}

	.google-map {
		border-radius: 5%;
		width: 300px;
		height: 300px;
		overflow: hidden;
		margin: auto;
		position: inherit;

	}

	.google-map iframe {
		border: 0;
		width: 300px;
		height: 300px;
	}



	/*---------------------------------------
		FOOTER              
	-----------------------------------------*/

	footer {
		background: #000000;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
		background: #191A19; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		position: relative;
		padding-top: 40px;
		padding-bottom: 40px;
	}

	footer h2 {
		color: #ffffff;
	}

	.footer-link {
		margin: 0;
		padding: 0; 
	}

	.footer-link li {
		display: block;
		list-style: none;
		margin: 5px 10px 5px 0;
	}

	footer p,
	footer span,
	.footer-link li a {
		color: #d9d9d9;
	}

	.copyright-text p,
	.footer-bottom .phone-contact p {
		font-size: 18px;
		margin: 0;
	}

	.footer-info p {
		margin-right: 4em;
	}

	.footer-bottom {
		border-top: 1px dashed #CF4344;
		margin-top: 1em;
		padding-top: 2em;
	}

	.footer-bottom .phone-contact,
	.footer-bottom .social-icon {
		display: inline-block;
		vertical-align: top;
	}

	.footer-bottom .phone-contact {
		margin-right: 40px;
	}

	.footer-bottom .phone-contact span {
		font-weight: 500;
		display: inline-block;
		margin-left: 10px;
	}




	/*---------------------------------------
		MODAL FORM             
	-----------------------------------------*/

	@media (min-width: 992px) {
		.modal-dialog {
		width: 550px;
		}
	}

	.modal-open,
	.modal {
    	padding-left: 0px;
  	}

  	.modal-dialog .modal-content {
		background: #000000;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		border: none;
		border-radius: 10px;
		text-align: center;
		position: absolute;
		padding: 1em;
		display: flex;
  	}

	.modal-header, .modal-footer {
		border-bottom: 0;
		padding: 0;
	}

	.modal-dialog .modal-body {
		padding: 0;
	}

	.modal-dialog .modal-body a {
		color: #000;
	}

	.modal .close {
		color: #4c3f37;
		font-size: 40px;
		font-weight: 300;
		text-shadow: none;
		opacity: 1;
		position: absolute;
		top: 10px;
		right: 15px;
		z-index: 100;
		outline: none;
	}

	.modal-dialog .modal-title {
		margin-bottom: 20px;
	}

	
	.modal-dialog .nav-tabs {
		display: inline-block;
	}

	.modal-dialog .nav-tabs > li > a {
		border: 0;
		color: #999999;
		margin-right: 0;
	}

	.modal-dialog .nav-tabs > li.active > a, 
	.modal-dialog .nav-tabs > li.active > a:hover, 
	.modal-dialog .nav-tabs > li.active > a:focus,
	.modal-dialog .nav>li>a:focus, 
	.modal-dialog .nav>li>a:hover {
		color: #ffffff;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid #ce3232;
	}

	.modal-dialog .tab-content {
		padding-top: 20px;
	}

	.modal-dialog form .form-control {
		border-radius: 5px;
		border: 1px solid #595959;
		background: transparent;
		box-shadow: none;
		margin: 15px 0 15px 0;
		height: 50px;
	}

	.modal-dialog form .form-control:hover,
	.modal-dialog form .form-control:focus {
		border-color: #ffffff;
	}

	.modal-dialog form input[type="submit"] {
		background: #ce3232;
		border-color: transparent;
		border-radius: 100px;
		color: #ffffff;
		margin-top: 20px;
	}


	/*---------------------------------------
		RESPONSIVE STYLES              
	-----------------------------------------*/

	@media screen and (max-width: 1170px) {

		.custom-navbar .navbar-nav.navbar-nav-first {
		margin-left: inherit;
		}

		
	}

	@media screen and (min-width: 300px) and (max-width: 766px ) {

		.custom-navbar .navbar-nav.navbar-nav-first a {
			margin-left: inherit;
			font-size: 20px;
			line-height: 10px;
			color: #000;
		}
		
		h1 {
			font-size: 2em;
		}

		.media.blog-thumb .media-left {
			height: auto;
			padding: 0;
			margin: 0;
		}

		.media.blog-thumb .media-left img {
			position: relative;
			bottom: 0;
			left: 1px;
			top: 1px;
			margin: 0;
			padding: 0;
		}		

		.media-body {
			justify-content: center;
			display: block;
			margin: 0;
			padding: 8px;
			width: auto;
			height: auto;
			font-size: 10px;
		}

		.media-body a {
			width: 130px;
			height: 30px;
			font-size: 15px;
			top: 5px;
			padding: 3px;
			margin: 10px;
		}

		.work-thumb .work-info {
			display: flex;
			justify-content: center;
			width: 300px;
			height: 300px;
			left: 15px;
		}

		section.work {
			margin: 0;
			padding: 10px;
		}

		.section-title {
			margin: 0;
		}

		div .modal-content {
			margin: 0;
			padding: 0;
			align-content: center;
			display: flex;
			flex-direction: column;
			width: 366px;
			height: 580px;
			left: -5px;
		}
		
		.btn-modal {
			position: relative;
			top: 60px;
		}

		p, strong, .modal-box {
			font-size: 13px;
			margin: 3px;
			padding: 2px;
			line-height: 20px;
		}

		.work-thumb {
			width: 300px;
			height: 300px;
		}

		.img-responsive {
			position: inherit;
			left: 15px;
		}

		.modal h1 {
			font-size: 20px;
			position: relative;
			left: -13px;
		}

		.contact p {
			margin: 15px;
			line-height: 25px;
		}


		#publicaciones img {
			display: flex;
			flex-direction: column;
		}

		.notice-box {
			font-size: 10px;
			margin: 0;
			padding: 10px;
		}



		#proyect-title {
			padding: 10px;
		}

		#proyect {
			font-size: 12px;
		}



	}

	@media screen and (min-width: 767px) and (max-width: 991px) {



		h1 {
			font-size: 2em;
		}

		div .home-info h1 {
			font-size: 2em;
			position: relative;
			top: 150px;
		}

		.home-info a {
			position: relative;
			top: 140px;
		}

		.media.blog-thumb .media-left {
			height: auto;
			display: flex;
			justify-content: center;
		}

		.media.blog-thumb .media-left img {
			position: relative;
			bottom: 0;
			left: 5%;
			top: 20px;
		}		

		.media-body {
			justify-content: center;
			display: block;
		}

		.custom-navbar .navbar-nav.navbar-nav-first a{
			margin-left: 10px;
			font-size: 18px;
			margin: 0;

		}

		#home .container {
			width: 600px;
			height: 500px;
			position: relative;
			top: -100px;
			left: -0px;
		}

		.work-thumb .work-info {
			display: flex;
			justify-content: center;
			position: absolute;
			top: 9px;
		}

		.btn-modal {
			position: relative;
			top: 35px;
		}
		#home {
			position: relative;
			width: auto;
			margin: 0;
			padding: 0;
		}


		.work-info h3 {
			font-size: 15px;
		}


		div .modal-content {
			margin: 0;
			padding: 0;
			align-content: center;
			display: flex;
			flex-direction: column;
			width: 700px;
			height: 480px;
			left: -45px;
		}
		

		p, strong, .modal-box {
			font-size: 13px;
			margin: 3px;
			padding: 2px;
			line-height: 20px;
		}


		.work {
			margin: 0;
			padding: 15px 15px 30px;
		}

		div .home-info {
			position: relative;
			left: 10px
		}

		#publicaciones .home-info {
			top: -100px;
		}

		.carousel-caption	p {
			font-size: 15px;
			margin: 0;
			padding: 0;
			position: relative;
			bottom: 20px;
		}

		.carousel-caption h3 {
			font-size: 20px;
			position: relative;
			bottom: 30px;
		}

		.carousel-caption button {
			position: relative;
			top: 50px;
		}

		.media-left img {
			width: 100%;
			height: 100%;
		}

		.notice-box {
			font-size: 17px;
			margin: 0;
			padding: 10px;
		}

		#proyect-title {
			padding: 20px 0;
		}

		#proyect {
			font-size: 19px;
			margin: 0;
			padding: 0;
		}


	}


	